/* 공통 */
.input {
    color: #403866;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    font-weight: bold;
    background: 0 0;
    border-radius: 5px;
    border: none;
}

.button { 
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #827ffe;
    border-radius: 3px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    border:none;
}

.container {
    width: 100%;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-weight: bold;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase; 
    width: 100%;
    display: block;
    padding-bottom: 30px;
    text-align: center;
}

/* 로그인  */
.login-title {
    padding-bottom: 51px;
    text-align: center;
}

.login-input {
    height: 62px;
    padding: 0 20px 0 38px;
    width: 100%;
}

.login-form { 
    width: 390px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.login-button {
    width: 100%;
    font-size: 16px;
    height: 62px;
}

.login-container {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px;
    min-height: 100vh;
}

.login-input-container {
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 16px;
}

.login-a-container {
    display: flex;
    justify-content: space-between;
}


/* 회원가입  */
.register {
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.register-form { 
    width: 500px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.common-input { 
    padding: 0 5px 0 20px;
    display: flex;
    height: 50px;
    background-color: #e6e6e6;
    margin-right: 0.5em;   
}

.register-input {
    width: 100%;
}

.forget-input {
    width: 50%;
    font-size: 14px;
}

.select {
    margin-left: 0.5em;
    margin-right: 0em;
}

.register-input-container {
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 16px;
    display:flex;
    align-items: center;
}

.register-button {
    width: 23.5%;
    font-size: 14px;
    height: 50px;
    float: right;
}

.register-email-button {
    width: 24%;
}

/* 아이디/비밀번호 찾기화면 */
.forget-top-container {
    width: 100%;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 16px;
    display:flex;
    align-items: center;
    padding: 15px 15px 0px 15px;
}

.forget-top-button {    
    font-size: 14px;
    height: 50px;
}

.forget-input-container {
    padding: 10px 20px 10px 20px;
}

.forget-bottom-button {    
    font-size: 14px;
    height: 50px;
    width: 100%;
}

.forget-span { 
    font-weight: bold;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: #ffffff;
}


/* 메인화면 */
.main-container { 
    padding: 15px;
}

.main-title {
    font-weight: bold;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase; 
    /* padding-bottom: 30px;     */
}

.main-nav {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    border: 1px solid rgba(0,0,0,.125);
}

.people-list .chat-list li {
    padding-top: 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

/* 채팅화면 */
.chat .chat-header {
    padding: 20px 0 0 0;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header {
    float: left;
    width:100%
}

.chat-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px
}

.chat-row {
    margin-left: -15px;
    margin-right: -15px;
}

.chat .chat-history {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 350px;
    border: 10px solid transparent;
    /* margin-left: -10px */
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.centered-message {
    text-align: center; 
    margin: 0 auto;
}

.hidden {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        /* height: 650px; */
        overflow-x: auto
    }
    .chat-app .chat-history {
        /* height: 600px; */
        overflow-x: auto
    }

    .chat-button {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.chat-readCount-right {
    position:absolute; bottom:0px;
    right:0px; 
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.chat-button {
    float: right !important;
}

.chat-message { 
    white-space: pre-lin
}

.chat-input { 
    display: flex;
}

.chat-input-button { 
    height: 50%;
    width: 70px;
}

.card { 
    word-wrap: break-word;
    background-clip: initial;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 500px;
    min-width: 0;
    position: relative;
    border: 1px solid rgba(0,0,0,.125);
}

/* 모달 */
.modal-custom-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.register-button:disabled {
    background-color: gray;
    /* 다른 스타일 속성도 추가 가능 */
}

.forget-top-button:disabled {
    background-color: gray;
    /* 다른 스타일 속성도 추가 가능 */
}